<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/site.css">
</head>

<body>
    <header class="section-space">
        <a href="#" class="logo">Pets</a>
        <nav>
            <ul>
                <% for(let i=0; i<navItems.length; i++) {%>
                    <li><a href="<%= navItems[i].itemLink %>">
                            <%= navItems[i].itemName %>
                        </a></li>
                    <%} %>
            </ul>
        </nav>
    </header>

    <main>
        <div class="hero-section section-space">
            <div class="container">
                <div class="hero-content">
                    <div class="hero-left">
                        <h1>
                            <%= title %>
                        </h1>
                        <p>
                            <%= description %>
                        </p>
                    </div>
                    <div class="hero-right">
                        <div class="img-wrapper">
                            <img src="<%= heroImage %>" alt="panda">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grooming-services">
            <div class="container">
                <div class="grooming-header">
                    <h2>Our Prices</h2>
                </div>
                <div class="grooming-content">
                    <% for(let i=0; i<servicesList.length; i++) {%>
                        <div class="grooming-card">
                            <div class="grooming-card-header">
                                <h3><%= servicesList[i].packageName %></h3>
                                <strong>$ <%= servicesList[i].price %>/ Per Month</strong>
                            </div>
                            <div class="grooming-card-content">
                                <ul>
                                    <% for(let j=0; j<servicesList[i].servicesName.length; j++) {%>
                                        <li><%= servicesList[i].servicesName[j] %></li><%} %>
                                </ul>
                            </div>
                        </div>
                        <%} %>
                </div>
            </div>
        </div>

    </main>

    <footer class="section-space">
        <div class="container">
            <p>2023 &copy;, All rights reserved</p>
        </div>
    </footer>

</body>

</html>