<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags for compatibility, acessibility and SEO -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- setting up the title of the page -->
    <title>
        <%= title %>
    </title>
    <!-- including oswald font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/site.css">
</head>

<body>
    <!-- rendering header partial -->
    <%- include('_header.ejs') %>
        
    <!-- main content for index page and using EJS to show dynamic stuff -->
    <main>
        <div class="grooming-hero hero-section section-space">
            <div class="container">
                <div class="hero-content">
                    <div class="hero-left">
                        <h1>
                            <%= title %>
                        </h1>
                        <p>
                            <%= description %>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="grooming-services section-space">
            <div class="container">
                <div class="grooming-header">
                    <h2>Our Prices</h2>
                </div>
                <div class="grooming-content">
                    <% for(let i=0; i<servicesList.length; i++) {%>
                        <div class="grooming-card">
                            <div class="grooming-card-header">
                                <h3><%= servicesList[i].packageName %></h3>
                                <strong>$ <%= servicesList[i].price %>/ Per Month</strong>
                            </div>
                            <div class="grooming-card-content">
                                <ul>
                                    <% for(let j=0; j<servicesList[i].servicesName.length; j++) {%>
                                        <li><%= servicesList[i].servicesName[j] %></li><%} %>
                                </ul>
                            </div>
                        </div>
                        <%} %>
                </div>
            </div>
        </div>

    </main>
        <!-- rendering footer partial -->
        <%- include('_footer.ejs') %>

</body>

</html>